{% extends 'blog/layout.html' %}

{% block title %}
Login page
{% endblock %}

{% block body %}
<div class="form-group">
    <br><br>
    <form method="POST">
        {% csrf_token %}
        <p>{{ form.username.label }}</p>
        <input class="form-control" type="text" id="username" name="username"  placeholder="username">
        <p>{{ form.password.label }}</p>
        <input class="form-control" type="password" name="password" id="password" placeholder="password">
        <br>
        <input class="btn btn-outline-primary" type="submit" value="Log in">
    </form>
    <br>

        <p>Don't have an account?</p>
        <a href="{% url 'blog:register' %}">
            <button class="btn btn-outline-primary">Sign up</button></a>
</div>
{% endblock %}