{% extends "blog/layout.html" %}

{% block title %}
Register
{% endblock %}

{% block body %}
<div>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
            <p>{{ field.label }}</p>
            <p>{{ field }}</p>
            {% endfor %}
            <input class="btn btn-outline-primary" type="submit" value="Create User">
        </form>
        <br>
    </div>

    <p>Already have an account?</p>
    <a href="{% url 'blog:login' %}">
        <button class="btn btn-outline-primary">Sign in</button></a>
</div>
{% endblock %}