<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <form method="POST" action="">
        {% csrf_token %}
        <div>
        <p>{{ form.username.label }} {{ form.username }}</p>
        </div>

        <div>
        <p>{{ form.email.label }} {{ form.email }}</p>
        </div>

        <div>
        <p>{{ form.password1.label }} {{ form.password1 }}</p>
        </div>

        <div>
        <p>{{ form.password2.label }} {{ form.password2 }}</p>
        </div>

        <input type="submit" value="Create User">
    </form>

    <p>Already have an account?</p>
    <a href="{% url 'blog:login' %}"><button>Sign in</button></a>
</body>
</html>