{% extends "todo/layout.html" %}

{% block title %}
Todo list
{% endblock %}

{% block body %}
<div style="display: flex; justify-content: center; align-items: center; padding-top: 100px; padding-left: 200px">
    <a href="{% url 'todo:register' %}"><button class="btn btn-outline-secondary">Add todo</button></a>
</div>

<div class="container">
    <ul>
        {% for todo in todos %}
            <li>
                {{ todo.text }}
                <a href="{% url 'todo:update' todo.id %}">
                    <button class="btn btn-outline-secondary" style="display: inline">Edit</button></a>

                <form action="{% url 'todo:delete' todo.id %}" style="display: inline;" method="post">
                    {% csrf_token %}
                    <input class="btn btn-outline-secondary" type="submit" value="Delete">
                </form>
            </li>
        <br>
        {% endfor %}
    </ul>
</div>
{% endblock %}
