{% extends "cars/layout.html" %}

{% block title %}
Car list
{% endblock %}

{% block body %}
<div class="container">
<h1 style="position: relative; margin-top: 50px; text-align: center; display: block">Welcome to django garage</h1>
    <p style="margin-top: 50px; text-align: center; display: block"><a href="{% url 'cars:store_car' %}">
        <button class="btn btn-outline-success">Store a car</button></a></p>
</div>

<div class="container">
    <ul>
        {% for car in object_list %}
            <li>
                <p style="display: inline">{{ car.owner }}'s car -
                    {{ car.brand }} {{ car.model }} from {{ car.prod_year }}</p>

                <a href="{% url 'cars:car_detail' car.pk %}">
                    <button class="btn btn-outline-success">Details</button></a>
            </li>
            <br>
        {% endfor %}
    </ul>
</div>
{% endblock %}
