{% extends "cars/layout.html" %}

{% block title %}
Details
{% endblock %}

{% block body %}
<div class="container">
    <h1 style="text-align: center; margin-top: 50px; margin-bottom: 50px">{{ car.owner }}'s car</h1>
    <h2 style="text-align: center">{{ car.brand }} {{ car.model }} produced in {{ car.prod_year }}</h2>

    <div style="display: flex; padding-left: 30%; padding-right: 30%; justify-content: space-evenly;
        align-items: center; margin-bottom: 50px">

        <a href="{% url 'cars:update' car.pk %}">
            <button class="btn btn-outline-success" style="display: inline;">Edit</button></a>
        <a href="{% url 'cars:delete' car.pk %}">
            <button class="btn btn-outline-success" style="display: inline;">Delete</button></a>
    </div>

    <div>
        <h3 style="text-align: center; margin-bottom: 20px">Add informations about services:</h3>
        <a style="display: flex; justify-content: center; margin-bottom: 50px" href="{% url 'cars:add_part' car.pk %}">
            <button class="btn btn-outline-success">Add service</button></a>
    </div>
</div>

<div class="container">
    {% for part in parts %}
    <h3>Service log - {{ part.date_of_service }}</h3>
    <p>{{ part.name }} made by {{ part.producer }} (s/n {{ part.part_number }}) - price {{ part.price }}
        - mileage {{ part.mileage }}</p>
    {% endfor %}

    <a href="{% url 'cars:cars_list' %}">
        <button style="margin-bottom: 50px" class="btn btn-danger">Back</button></a>
</div>
{% endblock %}