{% extends "cars/layout.html" %}

{% block title %}
Store car
{% endblock %}

{% block body %}
<h1 style="text-align: center; margin-top: 50px; margin-bottom: 50px">Store a car</h1>

<div class="form-group" style="display: flex; justify-content: center; align-items: center">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <a style="display: flex; justify-content: center; align-items: center" href="{% url 'cars:cars_list' %}">
            <button class="btn btn-outline-success">Store car</button></a>
    </form>

</div>
{% endblock %}